#!/bin/bash

fzfvim(){
    # find file in $1, open it with vim and put it into clipboard
    file=$(find $1 | fzf)
    if [[ ! -z $file ]]; then
        vim $file
    fi
    echo $file | xclip -sel clipboard
    echo $file
}
cf(){
    # open .script file in vim
    fzfvim "/home/infiniter/.config"
}
sc(){
    # open .script file in vim
    fzfvim "/home/infiniter/Code/scripts"
}
co(){
    # open Code file in vim
    fzfvim "/home/infiniter/Code"
}
c() {
    # change directory and list its files
    cd "$@" && ls;
}

zat() {
    # open zathura in background
    zathura $1 & exit;
}

update_dots(){
    # copy relevant files and change directory
    cp -r ~/Code/scripts ~/.vim/colors ~/.vimrc ~/.tmux.conf ~/.config ~/.aliases ~/.functions ~/.zshrc ~/.emacs ~/.dots
    cd ~/.dots
}

wallpaperize(){
    mv $1 ~/Pictures/Wallpapers/
}
