
lazygit/.config/lazygit/state.yml
qutebrowser/.local/share/qutebrowser/sessions
qutebrowser/.local/share/qutebrowser/webengine
qutebrowser/.local/share/qutebrowser/cmd-history
qutebrowser/.local/share/qutebrowser/crash.log
qutebrowser/.local/share/qutebrowser/history.sqlite
qutebrowser/.local/share/qutebrowser/history.sqlite-shm
qutebrowser/.local/share/qutebrowser/history.sqlite-wal
wiki/wiki/rull db notes.wiki
wiki/wiki/rull.wiki
wiki/wiki/rull_queries.wiki
qutebrowser/.local/share/qutebrowser/blocked-hosts
blender/Documents/blender
qutebrowser/.local/share/qutebrowser/state