alias mv="mv -v"
alias cp="cp -v"
alias cp-rsync="rsync -r --info=progress2 --info=name0"
alias rm="rm -v"
alias zi="z -i"
alias q="exit"
alias :q="exit"
alias open="xdg-open"
alias info="info --vi-keys"
alias vim="nvim"
alias nvim-poly="nvim ~/.config/polybar/config"
alias nvim-river="nvim ~/.config/river/init"
alias nvim-japokwm="nvim ~/.config/japokwm/init.lua"
alias nvim-i3="nvim ~/.config/i3/config"
alias nvim-i3blocks="nvim ~/.config/i3blocks/config"
alias nvim-qute="nvim ~/.config/qutebrowser/config.py"
alias nvim-kitty="nvim ~/.config/kitty/kitty.conf"
alias nvim-alacritty="nvim ~/.config/alacritty/alacritty.yml"
alias nvim-nix="nvim ~/.dots/nixos"
alias nvim-foot="nvim ~/.config/foot/foot.ini"
alias nvim-sway="nvim ~/.config/sway/config"
alias nvim-waybar="nvim ~/.config/waybar/config"
alias nvim-bspwm="nvim ~/.config/bspwm/bspwmrc"
alias nvim-dwm="nvim ~/Clones/dwm/config.h"
alias nvim-fish="nvim ~/.config/fish/config.fish"
alias nvim-sxhkd="nvim ~/.config/sxhkd/sxhkdrc"
alias nvim-sxhkd2="nvim ~/.config/sxhkd/sxhkdrc2"
alias nvim-tmux="nvim ~/.tmux.conf"
alias nvim-cage="nvim ~/.config/cagebreak/config"
alias nvim-rc="nvim ~/.dots/nvim/.vimrc"
alias nvim-z="nvim ~/.zshrc"
alias nvim-col="nvim ~/.local/share/colors"
alias nvim-lego="nvim ~/.config/lego/legorc"
alias nvim-aliases="nvim ~/.aliases"
alias nvim-zsh="nvim ~/.zshrc"
alias nvim-nvim="nvim ~/.config/nvim"
alias nvim-userscript="nvim ~/.local/share/qutebrowser/userscripts/myscript"
alias tsm="transmission-remote"
alias tsm-clean="transmission-remote -t all -r"
alias aij="~/Apps/AstroImageJ/astroimagej & exit"
alias wf="nm-applet"
alias mixer="ncpamixer"
alias clip="xclip -r -selection clipboard"
alias weather="curl wttr.in/Bratislava"
alias image="sxiv"
alias usb_mount="sudo mount /dev/sda1 /mnt/usb"
alias usb_umount="sudo umount /mnt/usb"
alias am="sudo android-cli --mount"
alias au="sudo android-cli --umount"
alias ytmp3="youtube-dl -f bestaudio --extract-audio --audio-format mp3"
alias clock="tty-clock -s -S -c -n -f %d.%m.%Y"
alias mark_pwd="pwd > /tmp/current_pwd"
alias ls="lsd"
alias ll="lsd -Al"
alias la="lsd -A"
alias cdp="cd ~/Code/Pylemon"
alias cdg="cd ~/Code/GoLemon"
alias cdb="cd ~/Code/dwmbar"
alias cdr="cd ~/Code/rpm"
alias cdi="cd ~/Code/infishop"
alias cdh="cd ~/.config/qutebrowser/homepage"
alias cdl="cd ~/go/src/github.com/nagy135/lego/"
alias cda="cd /mnt/android_mountpoint/SD\ card/Music/Audiobooks"
alias cdd="cd ~/.dots"
alias cds="cd ~/.scripts"
alias cdc="cd ~/Clones"
alias subdlint="subdl --interactive"
alias icat="kitty +kitten icat"
alias d="kitty +kitten diff"
alias emacs="emacs -nw"
alias subliminal="subliminal download -l en"
alias checkupdates="pamac checkupdates -a"
alias chrome="google-chrome-stable"
alias mpct="mpc toggle"
alias set_lego="nvim ~/.config/lego/legorc"
alias mdwm="cd ~/Clones/dwm; sudo make clean install"
alias dmenu="dmenu -x 710 -y 200 -w 500 -l 10 -fn 'Fira Mono-19 Bold'"
alias mpd="mpd ~/.config/mpd/mpd.conf"
alias wifireset="sudo systemctl restart NetworkManager.service"
alias resource="source ~/.aliases ; source ~/.functions"
alias qq="quickqute"
alias ga="git add"
alias gs="git status"
alias gp="git push"
alias gm="git commit -m"
alias gc="git clone"
alias lg="lazygit"
alias composercheck="composer install --dry-run 2>&1 | grep -q \"Nothing to install or update\""
alias circle="pscircle --background-color=0b0b0b --link-color-min=aaa --link-color-max=900 --dot-color-min=19a85b --dot-color-max=c22330 --tree-font-color=b2d3d9 --toplists-font-color=444 --toplists-pid-font-color=777 --toplists-bar-background=999 --toplists-bar-color=ddbf54 --max-children=35 --root-pid=1 --collapse-threads=true --tree-sector-angle=3.9269 --tree-center=-200:0 --tree-rotate=true --tree-rotation-angle=3.5342 --cpulist-center=-250:700 --memlist-center=250:700"
alias tuxi="tuxi -l LANG_en_US"
alias vimdiff="nvim -d"
alias keyboard_settings="xset r rate 200 35 ; xmodmap -e 'clear Lock' ; setxkbmap -option caps:escape"
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ......="cd ../../../../.."
alias run_river="export XKB_DEFAULT_OPTIONS=caps:escape ; river"
alias rr="export XKB_DEFAULT_OPTIONS=caps:escape; export MOZ_ENABLE_WAYLAND=1; river"
alias getpass="openssl rand -base64 20"
alias uuid_to_clip="uuidgen | tr -d '\n' | wl-copy"
alias figlet="figlet -f ansiishadow -t"
