#!/bin/bash

fzfvim(){
    # find file in $1, open it with vim and put it into clipboard
    file=$(find $1 | fzf)
    if [[ ! -z $file ]]; then
        vim $file
    fi
    echo $file
}
cf(){
    fzfvim "/home/infiniter/.config"
}
cdot(){
    fzfvim "/home/infiniter/.dots"
}
sc(){
    fzfvim "/home/infiniter/Code/scripts"
}
co(){
    fzfvim "/home/infiniter/Code"
}
c() {
    # change directory and list its files
    cd "$@" && ls;
}

gop() { # go project
    choice=$(find ~ -maxdepth 6 -type d -o -type l | fzf)
    [[ ! -z $choice ]] \
        && cd $choice \
        && ls -l
}

zat() {
    # open zathura in background
    zathura $1 & exit;
}

copy_chmod_chown(){
    sudo chmod --reference=$1 $2
    sudo chown --reference=$1 $2
}

update_dots(){
    # copy relevant files and change directory
    cp -r ~/Code/scripts ~/.vim/colors ~/.vimrc ~/.tmux.conf ~/.config ~/.aliases ~/.functions ~/.zshrc ~/.emacs ~/.dots
    cd ~/.dots
}

wallpaperize(){
    mv $1 ~/Pictures/Wallpapers/
}

cddot(){
    for (( i=0; i<${#${1}}; i++ )); do
        [[ "${1:$i:1}" == . ]] && cd ..
    done
}

f(){
    q=$(echo "$@" | sed 's/\s\+/%20/g')
    xdg-open "https://google.com/search?q=$q";
}

torrentmove(){
    # sudo rsync -r --remove-source-files --info=progress2 --info=name0 /var/lib/transmission/Downloads/* ~/Torrent
    sudo mv /var/lib/transmission/Downloads/* ~/Torrent
    [ ! $? -eq 0 ] \
        && echo "no files found" \
        && exit
    sudo chmod -R 777 ~/Torrent/*
}
git-last-commits(){
    NL=$'\n'

    branches=$(git branch -r | awk '{print $1}')
    results="";

    while read branch_name; do
        result=$(git show \
            --color=always \
            --pretty=format:"%Cgreen%ci %Cblue%cr %Cred%cn %Creset" $branch_name \
            | head -n 1)
        results="$results${NL}$result#$branch_name"
    done <<< "$branches"
    echo "$results" | sort -r | column -t -s'#' | tr '#' ' '
}

proj(){
    folder=~/Apps
    choice=$(ls $folder | fzf)
    [[ ! -z $choice ]] && cd "$folder/$choice" && ls -la
}
